@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes rotate-up {
    100% {
        transform: rotateZ(-4deg);
    }
}

@keyframes fade-slide-up {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: none;
    }
    50% {
        opacity: .8;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes anchor-underline {
    0%,
    10% {
        left: 0;
        right: 100%;
    }
    40%,
    60% {
        left: 0;
        right: 0;
    }
    90%,
    100% {
        left: 100%;
        right: 0;
    }
}