.containerr {
    width: 100%;
    height: 100%;
    position: relative;
    .user-photo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border: 3px solid #3f545f;
        border-radius: 50%;

        .image--cover{
            width: 9.375rem;
            height: 9.375rem;
            border-radius: 50%;
            margin: 0.3rem;
            border: 3px solid #3f545f;
            image-rendering: auto;

        }
    }
}
