<div class="outer">
<article>
  <section>
      <h1 class="title animate-pop-in">What is to do list?</h1>
    <p class="text">&para;
      When I was a kid, I read a book called The Listmaker. It’s about a
      young girl who uses lists to organize and make sense of her life. At
      the time I didn’t read any more into it besides the fact that this was
      an odd hobby for a pre-teen girl to spend so much time on. Now,
      although I don’t remember the book that well, I do see much more
      significance in the humble list—especially after researching where
      they come from and why we make lists. As I researched this post I
      realised how hard it is to pinpoint the origin of something as simple
      and widespread as the list (to-do or otherwise), but I did find out
      some interesting stories about how lists have been used in the past
      and why we find them useful in everyday life.
      <a href="https://github.com/Mazalg603" target="_blank">My Github</a>
    </p>
  </section>
  <section>
      <h3 class="title animate-pop-in">Why Use a To-Do List?</h3>
    <p class="text">&para;
      We all have those days when there are a million things to do, and we
      don't know how we're going to get it all done. It's easy to become
      overwhelmed by the vast quantity of tasks that we must do from day to
      day. Sometimes we have so many balls in the air, that we may even lose
      track of some loose ends and forget to do important things. When we
      get too busy, we end up feeling like we are barely able to keep our
      heads above water.
    </p>
    <p class="text">&para;
        We all have those days when there are a million things to do, and we
        don't know how we're going to get it all done. It's easy to become
        overwhelmed by the vast quantity of tasks that we must do from day to
        day. Sometimes we have so many balls in the air, that we may even lose
        track of some loose ends and forget to do important things. When we
        get too busy, we end up feeling like we are barely able to keep our
        heads above water.
      </p>
  </section>

  <section>
      <h3 class="title centered animate-pop-in">Organization</h3>
    <p class="text centered">
      One of the most important reasons for keeping a to-do list is
      the organization. Organizing your tasks with a list can make
      everything much more manageable and make you feel grounded.
      Seeing a clear outline of your completed and uncompleted tasks
      will help you feel organized and stay mentally focused.
    </p>
    <p class="text centered indented">
      As you cross items off your to-do list, you'll feel a sense of
      progress and accomplishment that can be missed when rushing
      from one activity to the next. The affirmation that you are
      making progress will help motivate you to keep moving forward
      rather than feeling overwhelmed.
    </p>
    <p class="text centered indented">
      Having a list of all your tasks will allow you to sit down and
      <a
        href="https://www.braingle.com/mind/747/plan-your-work.html"
        target="_blank"
        title="external link"
        >make a plan &#8594;</a
      >. One study showed that fifteen minutes spent planning could
      save an hour of execution time!
    </p>
  </section>
  <section>
      <h3 class="title centered animate-pop-in">Improved Memory</h3>
    <p class="text centered">
      Feeling forgetful? Nobody is capable of remembering everything
      at all times. To-do lists are a useful
      <a
        href="https://www.braingle.com/mind/462.html"
        target="_blank"
        title="external link"
        >external memory aid &#8594;</a
      >
      that give you permission to forget. As long as you can
      remember to look at your to-do list, you will never lose
      anything that you have recorded on it.
    </p>
    <p class="text centered indented">
      Without some sort of external memory aid, we are guaranteed to
      forget things due to the nature of our
      <a
        href="https://www.braingle.com/mind/25.html"
        target="_blank"
        title="external link"
        >short-term memories &#8594;</a
      >.
      The average person's short-term memory can only hold 7
      pieces of information for about 30 seconds. If you have more
      than 7 tasks that you need to remember, you are already setup
      for failure. Keeping a to-do list will allow you to
      effortlessly keep track of everything that you need to do.
    </p>
    <p class="text centered indented">
      Every time you look at a list, it
      <a
        href="https://www.braingle.com/mind/18.html"
        target="_blank"
        title="external link"
        >reinforces the information &#8594;</a
      >
      in your short-term memory, making it much less likely that you
      will forget an appointment or commitment. Students are often
      encouraged to use lists as study aids to increase retention of
      facts.
    </p>
  </section>
  <section>
      <h3 class="title centered animate-pop-in">Productivity</h3>
    <p class="text centered">
      If you record all your tasks in a to-do list, you can easily
      review the list and prioritize the most important tasks. Why
      waste time on trivial activities when there are important
      matters that need your attention? One study, conducted by the
      Harvard Business Review, showed that 90% of managers wasted
      valuable time through poor time management. Your to-do list
      will help you
      <a
        href="https://www.braingle.com/mind/462.html"
        target="_blank"
        title="external link"
        >focus your attention &#8594;</a
      >
      on the most important task of the moment.
    </p>
    <p class="text centered indented">
      Our attention is easily diverted by many types of
      <a
        href="https://www.braingle.com/mind/462.html"
        target="_blank"
        title="external link"
        >distractions &#8594;</a
      >. How often have you been doing one thing while thinking
      about what you need to be doing next, or worrying about what
      you might have forgotten? When you know that you can quickly
      refer to an organized to-do list, you'll find that you can
      focus your attention on the activity that you are involved in
      - you'll enjoy life more and be more productive. Being
      mentally distracted means being inefficient, but having a
      to-do list means you can rest easy knowing that you won't
      forget a thing.
    </p>
  </section>
  <section>
      <h3 class="title  centered animate-pop-in">Motivation</h3>
    <p class="text centered">
      Motivational speakers will tell you that to-do lists are a
      useful
      <a
        href="https://www.braingle.com/mind/746.html"
        target="_blank"
        title="external link"
        >motivational tool &#8594;</a
      >
      when used as a way to clarify goals. It's easy to say, "I want
      to get that promotion," but listing the steps that you intend
      to take to accomplish that goal can help clarify your thoughts
      and give you achievable short-term goals. As you succeed at
      each step along the way, you'll gain confidence crossing those
      items off your list!
    </p>
  </section>
</article>
</div>