<footer class="footer" [class.darkMode]="isDarkMode">
    <ul class="social-links">
      <li>
        <a href="www.linkedin.com/in/mazal-gevyan" target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/Mazalg603" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/mazal_gevyan/" target="_blank"
          ><i class="fa fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://www.facebook.com/mazal.gavyn" target="_blank"
          ><i class="fa fa-facebook"></i
        ></a>
      </li>
    </ul>
    <p>Kostil corporation</p>
</footer>
