.div-container {
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 2rem;
    font-weight: 400;
    font-family: Roman, serif;
  }

  .form {
    width: 80%;
    height: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.darkMode {
}
